{
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead"
      }
    ]
  ]
}
